.gradle
**.env

**/build/**
build
src
!userservice/src
!authservice/src
!orderservice/src
!eurekaserver/src
!gateway/src
.idea
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

out/
!**/src/main/**/out/
!**/src/test/**/out/
